.navbar {
	border-bottom: 1px solid black;
}

.userPhoto {
	display: none;
	height: 32px;
	width: 32px;
	border-radius: 50%;
}

.gearForm-group {
	margin-right: 5%;
}

.gearForm-inlineGroup {
	display: flex;
}

.gearForm-inlineGroup > .form-group {
	margin-right: 5%;
	width: 45%;
}