.navbar {
	border-bottom: 1px solid black;
}

.gearForm-group {
	margin-right: 5%;
}

.gearForm-inlineGroup {
	display: flex;
}

.gearForm-inlineGroup > .form-group {
	margin-right: 5%;
	width: 45%;
}